.id-h1{
  font-size: 2.5vw;
}

.id-h1{
  font-size: 2vw;
}

.text{
  font-size: 1.5vw;

}

.edit{
  margin-top: 1.5%;
  font-size: 1.2vw;
text-align: center;
font-style: underline;
}


form{
  display: flex;
  float: right;

}

.submit-btn{
  width: 200px;
  border-radius: 10px;
  border-color: black;
  padding: 9px 14px;
  font-size: 1vw;
  line-height: normal;
  border: 5px solid #2A363B;
  background-color: #DAC15F;
}



button:hover, button:active{
  background-color: #EAD689;
  color: #2A363B;
}

@media (max-width: 480px) {
  .top-tittle{
    display: flex !important;
  }


  .id-h1{
    font-size: 8vw;
  }

  .id-h2{
    font-size: 6vw;
  }

  .edit{
  font-size: 6vw;
  text-align: left;
  margin-left: 2%;
  }

  .text{
    font-size: 4vw;
  }

  .submit-btn{
    width: 100px !important;
    font-size: 4vw;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-left: 5%;
  }

}
